<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todolist</title>
    <style>
        #app{
            width: 500px;
            margin: 0 auto;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            list-style: none;
            height: 50px;
            line-height: 50px;
        }
        .right{
            float: right;
        }
        #error{
            cursor: pointer;
        }
        button{
            cursor: pointer;
        }
        .active{
            color: coral;
        }
    </style>
</head>
<body>

    <div id="app">

        <h2>todolist</h2>
        <hr>
        <div>
            名称：<input type="text" placeholder="请输入添加商品名称" v-model="proName">
            价格：<input type="number" placeholder="请输入添加商品价格" v-model="proPrice">
            <button @click = "add()">添加</button>
        </div>
        <div>
            <input type="text" placeholder="请输入搜索商品名称" v-model = "searchValue" @keyup = "search()">
            <button @click = "search()">搜索</button>
        </div>
        <ul >
            <li 
            v-for = "(obj,index) in list"
            @click = "change(obj)"
            :class = "{active:obj.isActive}"
            v-if = "obj.isInclude"
            
            >
                <input type="checkbox" v-model = "obj.isActive">
                <span>{{obj.name}}</span>
                <div class="right">
                    <span>{{obj.price}}</span>
                    <span id="error" @click.stop = "del(index)">[×]</span>
                </div>
                
            </li>

            
            
        </ul>
        <div>
            <button @click = "delAll()">删除选中</button>
            <span>总价：{{total()}}</span>
        </div>


    </div>

    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                list:[
                    {
                        name:"口红",
                        price:229,
                        isActive:false,
                        isInclude:true
                    },
                    {
                        name:"眼影",
                        price:118,
                        isActive:false,
                        isInclude:true
                    }
                ],
                proName:"",
                proPrice:"",
                searchValue:""

            },
            methods:{

                add(){
                    this.list.push({
                        name:this.proName,
                        price:this.proPrice,
                        isActive:false,
                        isInclude:true
                    })
                    this.proName = "";
                    this.proPrice = "";
                },
                change(obj){
                    obj.isActive = !obj.isActive
                },
                total(){
                    let sum = 0;
                    this.list.forEach(function(obj){
                        if(obj.isActive){
                            sum += Number.parseFloat(obj.price);
                        }
                    })
                    return sum;
                },
                del(index){
                    this.list.splice(index,1);
                },
                delAll(){
                    let arr = this.list.filter(function(obj,index){
                        return obj.isActive == false;
                    })
                    this.list = arr;
                },
                search(){
                    this.list.forEach((obj,index) => {
                        if(obj.name.includes(this.searchValue)){
                            obj.isInclude = true;
                        }else{
                            obj.isInclude = false;
                        }
                    })

                }
            }
        })
    </script>
    
</body>
</html>